* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-color: #0f0f0;
    font-family:Arial, Helvetica, sans-serif
}
.form-group {
    margin-bottom: 15px;
}
.form-group::after {
    content: ""; display: block; 
    height: 1px; 
    background: #ddd; 
    margin-top: 10px; 
}
#registration-form {
    background-color: #ffffff;
    max-width: 500px; 
    margin: 0 auto;
}
[type="text"], 
[type="email"], 
[type="password"] {
    width: 100%;
    border: 1px solid #ccc;
}
[type="submit"], 
[type="reset"] {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px;
    border-radius : 15px;
}
form p {padding: 5spx;}
form> p{bottom: 4px sold #eee;}
label{ display: inline-block; 
widh:100%;}
select{
    widh: 20px;
    border: 1px sold #007bff;
}
